* {
	font-family: 'Helvetica', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-decoration: none;
}

body {
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 2rem;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 80px;
	top: 0;
	right: 0;
	position: fixed;
	padding: 10px 20%;
	background-color: rgb(255, 255, 255);
}

.logo img {
	width: 150px;
	height: auto;
}

.menu-bar {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(245, 245, 245);
	height: 100%;
	width: 0%;
	z-index: 999;
	transition: 0.4s;
	font-size: 0;
}

.menu-bar.abrir-menu {
	width: 45%;
	font-size: 50px;
	z-index: 999;
}

.menu-bar.abrir-menu nav ul li {
	list-style: none;
	width: 85%;
	height: auto;
	margin: 5% 0;
	padding-left: 5%;
	font-size: 22px;
	border-radius: 10px;
}

.open-menu i {
	top: 0;
	padding-left: 75%;
	font-size: 50px;
	cursor: pointer;
}

.close-menu {
	top: 0;
	padding: 8% 85% 0 5%;
	z-index: 999;
}

.close-menu i {
	cursor: pointer;
}

nav ul {
	text-align: left;
}

nav ul li a {
	color: black;
	text-decoration: none;
	font-weight: 650;
	line-height: 5rem;
	border-radius: 10px;
}

nav ul li:hover {
	background-color: rgb(223, 223, 223);
	transition: 0.5s;
}

.fa-chevron-right {
	padding: 7% 5%;
	float: right;
	color: black;
}

.txt {
	text-align: left;
	padding: 5% 6%;
}

/*----------------------------------------Início-------------------------------------------------*/

#inicio {
	width: 100%;
	height: 450px;
	background: url(Imagens/BannerIni.png);
	background-size: contain;
	border-bottom: 20px solid white;
}

.txtini {
	text-align: center;
	padding-top: 20%;
	font-size: 30px;
	font-weight: 900;
	color: white;
}

/*----------------------------------------Banner--------------------------------------------------*/

.redes-inicio {
	margin-top: 10%;
	text-align: center;
	color: rgb(0, 109, 18);
}

.redes-inicio i {
	padding: 1%;
	font-size: 50px;
	cursor: pointer;
}

#banner {
	margin-top: 2%;
	width: 100%;
	height: 500px;
	background: url(Imagens/Banner.jpg);
	background-size: cover;
	border-bottom: 8px solid white;
}

/*------------------------------------- Introdução -----------------------------------*/

#introducao {
	padding: 0 7%;
	background: url(Imagens/FundoInt.png);
	background-size: contain;
	border-bottom: 8px solid white;
}

.int-bloco {
	padding: 20% 7% 10% 7%;
	background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(253, 253, 253));
	text-align: center;
}

.int-bloco h1 {
	font-size: 30px;
	font-weight: 900;
}

/*---------------------------------------- ESG -----------------------------------*/

#esg {
	padding: 0 7%;
	background: linear-gradient( to bottom right, rgb(1, 153, 21), rgb(1, 56, 1));
	border-bottom: 8px solid white;
}

.esg-bloco {
	text-align: center;
	padding: 10% 5%;
	background-color: rgb(247, 247, 247);
}

.esg-bloco h1 {
	font-size: 35px;
	font-weight: 900;
}

.txt-esg {
	text-align: center;
	padding-top: 10%;
}

.letras {
	font-size: 30px;
}

.txt-esg .destaque {
	color: rgb(0, 109, 18);
	padding: 2%;
	font-weight: 500;
	font-size: 90px;
}

.txt-esg img {
	padding: 10%;
	width: 80%;
	height: auto;
}

/*-----------------------------------Importância ESG ---------------------------------------------------*/

#impesg {
	padding: 0 7%;
	background-color: rgb(212, 212, 92);
}

.imp-bloco {
	text-align: center;
	padding: 15% 5% 5% 5%;
	background-color: rgb(255, 255, 255);
}

.imp-bloco h1 {
	font-size: 35px;
	font-weight: 900;
}

/*-------------------------------------- Fontes -----------------------------------*/

#fontes {
	padding: 15%;
	background-color: rgb(224, 200, 61);
	color: white;
}

.txt-font {
	text-align: left;
	padding: 5% 7%;
}

.txt-font h1 {
	text-align: center;
	font-size: 35px;
	font-weight: 900;
}

.txt-font a {
	text-align: left;
	text-decoration: none;
	list-style: circle;
	color: white;
}

.txt-font a:hover {
	color: rgb(194, 194, 194);
}

/*-------------------------------------- Rodapé -----------------------------------*/


footer {
	list-style: none;
	display: flex;
	gap: 10rem;
	justify-content: center;
	font-size: 20px;
	padding: 7% 0;
	width: 100%;
	height: 100%;
	background-color: rgb(6, 36, 0);
	color: white;
}

footer i {
	padding: 5% 10% 0 0;
	font-size: 50px;
	cursor: pointer;
}

.meio-contato li {
	padding-left: 20%;
}

.meio-contato a {
	color: rgb(172, 172, 172);
	text-decoration: none;
	line-height: 4rem;
}

.meio-contato a:hover {
	color: rgb(255, 255, 255);
}